/* You can add global styles to this file, and also import other style files */

/* COLORS  */
:root {
  /* indigo-100  */
  --one: rgba(224, 231, 255, 1);
  --one-ten: rgba(224, 231, 255, 0.1);
  --one-twenty: rgba(224, 231, 255, 0.2);
  --one-thirty: rgba(224, 231, 255, 0.3);
  --one-forty: rgba(224, 231, 255, 0.4);
  --one-fifty: rgba(224, 231, 255, 0.5);
  --one-sixty: rgba(224, 231, 255, 0.6);
  --one-seventy: rgba(224, 231, 255, 0.7);
  --one-eighty: rgba(224, 231, 255, 0.8);
  --one-ninety: rgba(224, 231, 255, 0.9);

  /* fuchsia-300  */
  --two: rgba(240, 171, 252, 1);
  --two-ten: rgba(240, 171, 252, 0.1);
  --two-twenty: rgba(240, 171, 252, 0.2);
  --two-thirty: rgba(240, 171, 252, 0.3);
  --two-forty: rgba(240, 171, 252, 0.4);
  --two-fifty: rgba(240, 171, 252, 0.5);
  --two-sixty: rgba(240, 171, 252, 0.6);
  --two-seventy: rgba(240, 171, 252, 0.7);
  --two-eighty: rgba(240, 171, 252, 0.8);
  --two-ninety: rgba(240, 171, 252, 0.9);

  /* cyan-300 */
  --three: rgba(103, 232, 249, 1);
  --three-ten: rgba(103, 232, 249, 0.1);
  --three-twenty: rgba(103, 232, 249, 0.2);
  --three-thirty: rgba(103, 232, 249, 0.3);
  --three-forty: rgba(103, 232, 249, 0.4);
  --three-fifty: rgba(103, 232, 249, 0.5);
  --three-sixty: rgba(103, 232, 249, 0.6);
  --three-seventy: rgba(103, 232, 249, 0.7);
  --three-eighty: rgba(103, 232, 249, 0.8);
  --three-ninety: rgba(103, 232, 249, 0.9);

  /* indigo-300  */
  --four: rgba(165, 179, 252, 1);
  --four-ten: rgba(165, 179, 252, 0.1);
  --four-twenty: rgba(165, 179, 252, 0.2);
  --four-thirty: rgba(165, 179, 252, 0.3);
  --four-forty: rgba(165, 179, 252, 0.4);
  --four-fifty: rgba(165, 179, 252, 0.5);
  --four-sixty: rgba(165, 179, 252, 0.6);
  --four-seventy: rgba(165, 179, 252, 0.7);
  --four-eighty: rgba(165, 179, 252, 0.8);
  --four-ninety: rgba(165, 179, 252, 0.9);

  /* fuchsia-600  */
  --five: rgb(192, 38, 211);
  --five-ten: rgba(192, 38, 211, 0.1);
  --five-twenty: rgba(192, 38, 211, 0.2);
  --five-thirty: rgba(44, 34, 37, 0.3);
  --five-forty: rgba(192, 38, 211, 0.4);
  --five-fifty: rgba(192, 38, 211, 0.5);
  --five-sixty: rgba(192, 38, 211, 0.6);
  --five-seventy: rgba(192, 38, 211, 0.7);
  --five-eighty: rgba(192, 38, 211, 0.8);
  --five-ninety: rgba(192, 38, 211, 0.9);

  /* indigo-700  */
  --six: rgba(68, 56, 202, 1);
  --six-ten: rgba(68, 56, 202, 0.1);
  --six-twenty: rgba(68, 56, 202, 0.2);
  --six-thirty: rgba(68, 56, 202, 0.3);
  --six-forty: rgba(68, 56, 202, 0.4);
  --six-fifty: rgba(68, 56, 202, 0.5);
  --six-sixty: rgba(68, 56, 202, 0.6);
  --six-seventy: rgba(68, 56, 202, 0.7);
  --six-eighty: rgba(68, 56, 202, 0.8);
  --six-ninety: rgba(68, 56, 202, 0.9);

  /* slate-600  */
  --seven: rgba(71, 85, 105, 1);
  --seven-ten: rgba(71, 85, 105, 0.1);
  --seven-twenty: rgba(71, 85, 105, 0.2);
  --seven-thirty: rgba(71, 85, 105, 0.3);
  --seven-forty: rgba(71, 85, 105, 0.4);
  --seven-fifty: rgba(71, 85, 105, 0.5);
  --seven-sixty: rgba(71, 85, 105, 0.6);
  --seven-seventy: rgba(71, 85, 105, 0.7);
  --seven-eighty: rgba(71, 85, 105, 0.8);
  --seven-ninety: rgba(71, 85, 105, 0.9);

  /* indigo-950  */
  --eight: rgba(15, 23, 42, 1);
  --eight-ten: rgba(15, 23, 42, 0.1);
  --eight-twenty: rgba(15, 23, 42, 0.2);
  --eight-thirty: rgba(15, 23, 42, 0.3);
  --eight-forty: rgba(15, 23, 42, 0.4);
  --eight-fifty: rgba(15, 23, 42, 0.5);
  --eight-sixty: rgba(15, 23, 42, 0.6);
  --eight-seventy: rgba(15, 23, 42, 0.7);
  --eight-eighty: rgba(15, 23, 42, 0.8);
  --eight-ninety: rgba(15, 23, 42, 0.9);

  /* slate-900  */
  --nine: rgba(15, 23, 42, 1);
  --nine-ten: rgba(15, 23, 42, 0.1);
  --nine-twenty: rgba(15, 23, 42, 0.2);
  --nine-thirty: rgba(15, 23, 42, 0.3);
  --nine-forty: rgba(15, 23, 42, 0.4);
  --nine-fifty: rgba(15, 23, 42, 0.5);
  --nine-sixty: rgba(15, 23, 42, 0.6);
  --nine-seventy: rgba(15, 23, 42, 0.7);
  --nine-eighty: rgba(15, 23, 42, 0.8);
  --nine-ninety: rgba(15, 23, 42, 0.9);

  /* SCREENS  */
  --sz-mobile: 360px;
  --sz-sm: 640px;
  --sz-md: 768px;
  --sz-lg: 1024px;
  --sz-xl: 1280px;
  --sz-xxl: 1600px;
  --sz-fullHD: 1920px;
  --sz-quadHD: 2560px;
  --sz-ultraHD: 3840px;

  /* BOX SHADOWS  */
  --shadowxxs: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, 0.8);
  --shadowxs: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.8);
  --shadowsm: 0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.8);
  --shadowmd: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.8);
  --shadowlg: 0.5vh 0.5vh 1vh rgba(0, 0, 0, 0.8);
  --shadowxl: 1vh 1vh 2vh rgba(0, 0, 0, 0.8);
  --shadowxxl: 2vh 2vh 4vh rgba(0, 0, 0, 0.8);

  /* TEXT SHADOWS  */
  --txtshadowxxs: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, 0.8);
  --txtshadowxs: 0.1vh 0.1vh 0.2vh rgba(0, 0, 0, 0.8);
  --txtshadowsm: 0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.8);
  --txtshadowmd: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.8);
  --txtshadowlg: 0.2vh 0.2vh 0.7vh rgba(0, 0, 0, 1);
  --txtshadowxl: 0.2vh 0.2vh 0.8vh rgba(0, 0, 0, 1);
  --txtshadowxxl: 0.2vh 0.2vh 0.9vh rgba(0, 0, 0, 1);
  --txtglow100xxs: 0.1vh 0.1vh 0.1vh var(--one-eighty);
  --txtglow100xs: 0.1vh 0.1vh 0.2vh var(--one-eighty);
  --txtglow100sm: 0.2vh 0.2vh 0.2vh var(--one-eighty);
  --txtglow100md: 0.2vh 0.2vh 0.5vh var(--one-eighty);
  --txtglow100lg: 0vh 0vh 0.7vh var(--one-eighty);
  --txtglow100xl: 0vh 0vh 0.8vh var(--one);
  --txtglow100xxl: 0vh 0vh 0.9vh var(--one);
  --txtglow200xxs: 0.1vh 0.1vh 0.1vh var(--two-eighty);
  --txtglow200xs: 0.1vh 0.1vh 0.2vh var(--two-eighty);
  --txtglow200sm: 0.2vh 0.2vh 0.2vh var(--two-eighty);
  --txtglow200md: 0.2vh 0.2vh 0.5vh var(--two-eighty);
  --txtglow200lg: 0vh 0vh 0.7vh var(--two-eighty);
  --txtglow200xl: 0vh 0vh 0.8vh var(--two);
  --txtglow200xxl: 0vh 0vh 0.9vh var(--two);
  --txtglow300xxs: 0.1vh 0.1vh 0.1vh var(--three-eighty);
  --txtglow300xs: 0.1vh 0.1vh 0.2vh var(--three-eighty);
  --txtglow300sm: 0.2vh 0.2vh 0.2vh var(--three-eighty);
  --txtglow300md: 0.2vh 0.2vh 0.5vh var(--three-eighty);
  --txtglow300lg: 0vh 0vh 0.7vh var(--three-eighty);
  --txtglow300xl: 0vh 0vh 0.8vh var(--three);
  --txtglow300xxl: 0vh 0vh 0.9vh var(--three);
  --txtglow400xxs: 0.1vh 0.1vh 0.1vh var(--four-eighty);
  --txtglow400xs: 0.1vh 0.1vh 0.2vh var(--four-eighty);
  --txtglow400sm: 0.2vh 0.2vh 0.2vh var(--four-eighty);
  --txtglow400md: 0.2vh 0.2vh 0.5vh var(--four-eighty);
  --txtglow400lg: 0vh 0vh 0.7vh var(--four-eighty);
  --txtglow400xl: 0vh 0vh 0.8vh var(--four);
  --txtglow400xxl: 0vh 0vh 0.9vh var(--four);
  --txtglow500xxs: 0.1vh 0.1vh 0.1vh var(--five-eighty);
  --txtglow500xs: 0.1vh 0.1vh 0.2vh var(--five-eighty);
  --txtglow500sm: 0.2vh 0.2vh 0.2vh var(--five-eighty);
  --txtglow500md: 0.2vh 0.2vh 0.5vh var(--five-eighty);
  --txtglow500lg: 0vh 0vh 0.7vh var(--five-eighty);
  --txtglow500xl: 0vh 0vh 0.8vh var(--five);
  --txtglow500xxl: 0vh 0vh 0.9vh var(--five);
  --txtglow600xxs: 0.1vh 0.1vh 0.1vh var(--six-eighty);
  --txtglow600xs: 0.1vh 0.1vh 0.2vh var(--six-eighty);
  --txtglow600sm: 0.2vh 0.2vh 0.2vh var(--six-eighty);
  --txtglow600md: 0.2vh 0.2vh 0.5vh var(--six-eighty);
  --txtglow600lg: 0vh 0vh 0.7vh var(--six-eighty);
  --txtglow600xl: 0vh 0vh 0.8vh var(--six);
  --txtglow600xxl: 0vh 0vh 0.9vh var(--six);
  --txtglow700xxs: 0.1vh 0.1vh 0.1vh var(--seven-eighty);
  --txtglow700xs: 0.1vh 0.1vh 0.2vh var(--seven-eighty);
  --txtglow700sm: 0.2vh 0.2vh 0.2vh var(--seven-eighty);
  --txtglow700md: 0.2vh 0.2vh 0.5vh var(--seven-eighty);
  --txtglow700lg: 0vh 0vh 0.7vh var(--seven-eighty);
  --txtglow700xl: 0vh 0vh 0.8vh var(--seven);
  --txtglow700xxl: 0vh 0vh 0.9vh var(--seven);
  --txtglow800xxs: 0.1vh 0.1vh 0.1vh var(--eight-eighty);
  --txtglow800xs: 0.1vh 0.1vh 0.2vh var(--eight-eighty);
  --txtglow800sm: 0.2vh 0.2vh 0.2vh var(--eight-eighty);
  --txtglow800md: 0.2vh 0.2vh 0.5vh var(--eight-eighty);
  --txtglow800lg: 0vh 0vh 0.7vh var(--eight-eighty);
  --txtglow800xl: 0vh 0vh 0.8vh var(--eight);
  --txtglow800xxl: 0vh 0vh 0.9vh var(--eight);
  --txtglow900xxs: 0.1vh 0.1vh 0.1vh var(--nine-eighty);
  --txtglow900xs: 0.1vh 0.1vh 0.2vh var(--nine-eighty);
  --txtglow900sm: 0.2vh 0.2vh 0.2vh var(--nine-eighty);
  --txtglow900md: 0.2vh 0.2vh 0.5vh var(--nine-eighty);
  --txtglow900lg: 0vh 0vh 0.7vh var(--nine-eighty);
  --txtglow900xl: 0vh 0vh 0.8vh var(--nine);
  --txtglow900xxl: 0vh 0vh 0.9vh var(--nine);

  /* SPACING  */
  --xs3: 0.2vh;
  --xs2: 0.3vh;
  --xs: 0.5vh;
  --sm: 0.7vh;
  --md: 1vh;
  --lg: 1.5vh;
  --xl: 2vh;
  --xl2: 2.5vh;
  --xl3: 3vh;
  --xl4: 3.5vh;
  --xl5: 4vh;
  --xl6: 4.5vh;
  --xl7: 5vh;

  /* FONT SIZES  */
  --txt-xxs: 1.2vh;
  --txt-xs: 1.5vh;
  --txt-sm: 1.7vh;
  --txt-md: 2vh;
  --txt-lg: 2.4vh;
  --txt-xl: 2.8vh;
  --txt-2xl: 3vh;
  --txt-3xl: 3.3vh;
  --txt-4xl: 3.6vh;
  --txt-5xl: 4vh;
  --txt-6xl: 4.5vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-radius: 1.3vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100svh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  color: var(--nine);
  font-size: var(--txt-md);
  background-color: var(--nine);
  font-family: "Prompt", sans-serif;
}

.button {
  text-decoration: none;
  background-color: var(--one-forty);
  background: linear-gradient(
    145deg,
    var(--five-fifty) 0%,
    var(--six-fifty) 100%
  );
  color: var(--one);
  text-shadow: var(--txtshadowmd);
  border-radius: var(--lg);
  padding: var(--xxs) var(--lg);
  box-shadow: var(--shadowmd);
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: var(--five);
  color: var(--one);
  box-shadow: var(--shadowlg);
}

/* TYPOGRAPHY  */

h1 {
  font-size: 5.5vh;
  line-height: 1.1;
  font-weight: 600;
  color: var(--three);
  text-shadow: var(--txtshadowmd);
}

h2 {
  font-size: 4.5vh;
  line-height: 1.1;
  font-weight: 600;
  color: var(--three);
  text-shadow: var(--txtshadowmd);
}

h3 {
  font-size: 3.5vh;
  line-height: 1.1;
  font-weight: 600;
  color: var(--three);
  text-shadow: var(--txtshadowmd);
}

h4 {
  font-size: 2.5vh;
  line-height: 1.1;
  font-weight: 600;
  color: var(--three);
  text-shadow: var(--txtshadowmd);
}

h5 {
  font-size: 2vh;
  line-height: 1.1;
  font-weight: 600;
  color: var(--three);
  text-shadow: var(--txtshadowmd);
}

.txt-xxs {
  font-size: 1.2vh;
  line-height: 1.1;
}

.txt-xs {
  font-size: 1.5vh;
  line-height: 1.1;
}

.txt-sm {
  font-size: 1.7vh;
  line-height: 1.1;
}

.txt-md {
  font-size: 2vh;
  line-height: 1.1;
}

.txt-lg {
  font-size: 2.4vh;
  line-height: 1.1;
}

.txt-xl {
  font-size: 2.8vh;
  line-height: 1.1;
}

.txt-2xl {
  font-size: 3vh;
  line-height: 1.1;
}

.txt-3xl {
  font-size: 3.3vh;
  line-height: 1.1;
}

.txt-4xl {
  font-size: 3.6vh;
  line-height: 1.1;
}

.txt-5xl {
  font-size: 4vh;
  line-height: 1.1;
}

.txt-6xl {
  font-size: 4.5vh;
  line-height: 1.1;
}

.txtshadow-xxs {
  text-shadow: var(--txtshadowxxs);
}

.txtshadow-xs {
  text-shadow: var(--txtshadowxs);
}

.txtshadow-sm {
  text-shadow: var(--txtshadowsm);
}

.txtshadow-md {
  text-shadow: var(--txtshadowmd);
}

.txtshadow-lg {
  text-shadow: var(--txtshadowlg);
}

.txtshadow-xl {
  text-shadow: var(--txtshadowxl);
}

.txtshadow-xxl {
  text-shadow: var(--txtshadowxxl);
}

.textglow100-xxs {
  text-shadow: var(--txtglow100xxs);
}

.textglow100-xs {
  text-shadow: var(--txtglow100xs);
}

.textglow100-sm {
  text-shadow: var(--txtglow100sm);
}

.textglow100-md {
  text-shadow: var(--txtglow100md);
}

.textglow100-lg {
  text-shadow: var(--txtglow100lg);
}

.textglow100-xl {
  text-shadow: var(--txtglow100xl);
}

.textglow100-xxl {
  text-shadow: var(--txtglow100xxl);
}

.textglow200-xxs {
  text-shadow: var(--txtglow200xxs);
}

.textglow200-xs {
  text-shadow: var(--txtglow200xs);
}

.textglow200-sm {
  text-shadow: var(--txtglow200sm);
}

.textglow200-md {
  text-shadow: var(--txtglow200md);
}

.textglow200-lg {
  text-shadow: var(--txtglow200lg);
}

.textglow200-xl {
  text-shadow: var(--txtglow200xl);
}

.textglow200-xxl {
  text-shadow: var(--txtglow200xxl);
}

.textglow300-xxs {
  text-shadow: var(--txtglow300xxs);
}

.textglow300-xs {
  text-shadow: var(--txtglow300xs);
}

.textglow300-sm {
  text-shadow: var(--txtglow300sm);
}

.textglow300-md {
  text-shadow: var(--txtglow300md);
}

.textglow300-lg {
  text-shadow: var(--txtglow300lg);
}

.textglow300-xl {
  text-shadow: var(--txtglow300xl);
}

.textglow300-xxl {
  text-shadow: var(--txtglow300xxl);
}

.textglow400-xxs {
  text-shadow: var(--txtglow400xxs);
}

.textglow400-xs {
  text-shadow: var(--txtglow400xs);
}

.textglow400-sm {
  text-shadow: var(--txtglow400sm);
}

.textglow400-md {
  text-shadow: var(--txtglow400md);
}

.textglow400-lg {
  text-shadow: var(--txtglow400lg);
}

.textglow400-xl {
  text-shadow: var(--txtglow400xl);
}

.textglow400-xxl {
  text-shadow: var(--txtglow400xxl);
}

.textglow500-xxs {
  text-shadow: var(--txtglow500xxs);
}

.textglow500-xs {
  text-shadow: var(--txtglow500xs);
}

.textglow500-sm {
  text-shadow: var(--txtglow500sm);
}

.textglow500-md {
  text-shadow: var(--txtglow500md);
}

.textglow500-lg {
  text-shadow: var(--txtglow500lg);
}

.textglow500-xl {
  text-shadow: var(--txtglow500xl);
}

.textglow500-xxl {
  text-shadow: var(--txtglow500xxl);
}

.textglow600-xxs {
  text-shadow: var(--txtglow600xxs);
}

.textglow600-xs {
  text-shadow: var(--txtglow600xs);
}

.textglow600-sm {
  text-shadow: var(--txtglow600sm);
}

.textglow600-md {
  text-shadow: var(--txtglow600md);
}

.textglow600-lg {
  text-shadow: var(--txtglow600lg);
}

.textglow600-xl {
  text-shadow: var(--txtglow600xl);
}

.textglow600-xxl {
  text-shadow: var(--txtglow600xxl);
}

.textglow700-xxs {
  text-shadow: var(--txtglow700xxs);
}

.textglow700-xs {
  text-shadow: var(--txtglow700xs);
}

.textglow700-sm {
  text-shadow: var(--txtglow700sm);
}

.textglow700-md {
  text-shadow: var(--txtglow700md);
}

.textglow700-lg {
  text-shadow: var(--txtglow700lg);
}

.textglow700-xl {
  text-shadow: var(--txtglow700xl);
}

.textglow700-xxl {
  text-shadow: var(--txtglow700xxl);
}

.textglow800-xxs {
  text-shadow: var(--txtglow800xxs);
}

.textglow800-xs {
  text-shadow: var(--txtglow800xs);
}

.textglow800-sm {
  text-shadow: var(--txtglow800sm);
}

.textglow800-md {
  text-shadow: var(--txtglow800md);
}

.textglow800-lg {
  text-shadow: var(--txtglow800lg);
}

.textglow800-xl {
  text-shadow: var(--txtglow800xl);
}

.textglow800-xxl {
  text-shadow: var(--txtglow800xxl);
}

.textglow900-xxs {
  text-shadow: var(--txtglow900xxs);
}

.textglow900-xs {
  text-shadow: var(--txtglow900xs);
}

.textglow900-sm {
  text-shadow: var(--txtglow900sm);
}

.textglow900-md {
  text-shadow: var(--txtglow900md);
}

.textglow900-lg {
  text-shadow: var(--txtglow900lg);
}

.textglow900-xl {
  text-shadow: var(--txtglow900xl);
}

.textglow900-xxl {
  text-shadow: var(--txtglow900xxl);
}

/* BOX SHADOWS  */

.shadow-xxs {
  box-shadow: var(--shadowxxs);
}

.shadow-xs {
  box-shadow: var(--shadowxs);
}

.shadow-sm {
  box-shadow: var(--shadowsm);
}

.shadow-md {
  box-shadow: var(--shadowmd);
}

.shadow-lg {
  box-shadow: var(--shadowlg);
}

.shadow-xl {
  box-shadow: var(--shadowxl);
}

.shadow-2xl {
  box-shadow: var(--shadowxxl);
}

/* BUILDING BLOCK CLASSES  */

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100svh;
  overflow-y: auto;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.flexfull {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.centerfull {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.vstack {
  display: flex;
  flex-direction: column;
}

.vstackfull {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapfull {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.gap-xs3 {
  gap: var(--xs3);
}

.gap-xs2 {
  gap: var(--xs2);
}

.gap-xs {
  gap: var(--xs);
}

.gap-sm {
  gap: var(--sm);
}

.gap-md {
  gap: var(--md);
}

.gap-lg {
  gap: var(--lg);
}

.gap-xl {
  gap: var(--xl);
}

.gap-xl2 {
  gap: var(--xl2);
}

.gap-xl3 {
  gap: var(--xl3);
}

.gap-xl4 {
  gap: var(--xl4);
}

.gap-xl5 {
  gap: var(--xl5);
}

.gap-xl6 {
  gap: var(--xl6);
}

.gap-xl7 {
  gap: var(--xl7);
}

.p-xs3 {
  padding: var(--xs3);
}

.p-xs2 {
  padding: var(--xs2);
}

.p-xs {
  padding: var(--xs);
}

.p-sm {
  padding: var(--sm);
}

.p-md {
  padding: var(--md);
}

.p-lg {
  padding: var(--lg);
}

.p-xl {
  padding: var(--xl);
}

.p-xl2 {
  padding: var(--xl2);
}

.p-xl3 {
  padding: var(--xl3);
}

.p-xl4 {
  padding: var(--xl4);
}

.p-xl5 {
  padding: var(--xl5);
}

.p-xl6 {
  padding: var(--xl6);
}

.p-xl7 {
  padding: var(--xl7);
}

.w-5vh {
  width: 5vh;
}

.w-10vh {
  width: 10vh;
}

.w-15vh {
  width: 15vh;
}

.w-20vh {
  width: 20vh;
}

.w-25vh {
  width: 25vh;
}

.w-30vh {
  width: 30vh;
}

.w-35vh {
  width: 35vh;
}

.w-40vh {
  width: 40vh;
}

.w-45vh {
  width: 45vh;
}

.w-50vh {
  width: 50vh;
}

.w-55vh {
  width: 55vh;
}

.w-60vh {
  width: 60vh;
}

.w-65vh {
  width: 65vh;
}

.w-70vh {
  width: 70vh;
}

.w-75vh {
  width: 75vh;
}

.w-80vh {
  width: 80vh;
}

.w-85vh {
  width: 85vh;
}

.w-90vh {
  width: 90vh;
}

.w-95vh {
  width: 95vh;
}

.w-100vh {
  width: 100vh;
}

.w-5vw {
  width: 5vw;
}

.w-10vw {
  width: 10vw;
}

.w-15vw {
  width: 15vw;
}

.w-20vw {
  width: 20vw;
}

.w-25vw {
  width: 25vw;
}

.w-30vw {
  width: 30vw;
}

.w-35vw {
  width: 35vw;
}

.w-40vw {
  width: 40vw;
}

.w-45vw {
  width: 45vw;
}

.w-50vw {
  width: 50vw;
}

.w-55vw {
  width: 55vw;
}

.w-60vw {
  width: 60vw;
}

.w-65vw {
  width: 65vw;
}

.w-70vw {
  width: 70vw;
}

.w-75vw {
  width: 75vw;
}

.w-80vw {
  width: 80vw;
}

.w-85vw {
  width: 85vw;
}

.w-90vw {
  width: 90vw;
}

.w-95vw {
  width: 95vw;
}

.w-100vw {
  width: 100vw;
}

.h-5vh {
  height: 5vh;
}

.h-10vh {
  height: 10vh;
}

.h-15vh {
  height: 15vh;
}

.h-20vh {
  height: 20vh;
}

.h-25vh {
  height: 25vh;
}

.h-30vh {
  height: 30vh;
}

.h-35vh {
  height: 35vh;
}

.h-40vh {
  height: 40vh;
}

.h-45vh {
  height: 45vh;
}

.h-50vh {
  height: 50vh;
}

.h-55vh {
  height: 55vh;
}

.h-60vh {
  height: 60vh;
}

.h-65vh {
  height: 65vh;
}

.h-70vh {
  height: 70vh;
}

.h-75vh {
  height: 75vh;
}

.h-80vh {
  height: 80vh;
}

.h-85vh {
  height: 85vh;
}

.h-90vh {
  height: 90vh;
}

.h-95vh {
  height: 95vh;
}

.h-100vh {
  height: 100vh;
}

.h-5vw {
  height: 5vw;
}

.h-10vw {
  height: 10vw;
}

.h-15vw {
  height: 15vw;
}

.h-20vw {
  height: 20vw;
}

.h-25vw {
  height: 25vw;
}

.h-30vw {
  height: 30vw;
}

.h-35vw {
  height: 35vw;
}

.h-40vw {
  height: 40vw;
}

.h-45vw {
  height: 45vw;
}

.h-50vw {
  height: 50vw;
}

.h-55vw {
  height: 55vw;
}

.h-60vw {
  height: 60vw;
}

.h-65vw {
  height: 65vw;
}

.h-70vw {
  height: 70vw;
}

.h-75vw {
  height: 75vw;
}

.h-80vw {
  height: 80vw;
}

.h-85vw {
  height: 85vw;
}

.h-90vw {
  height: 90vw;
}

.h-95vw {
  height: 95vw;
}

.h-100vw {
  height: 100vw;
}
